/* <o-question> should have 'l-stack' CSS class */
.l-row + .l-row {
    margin-block-start: 1em;
}

/* <footer> should have 'l-stack' CSS class */
.footer > * + * {
    margin-block-start: 1em;
}

/* HTML should be updated to match Storybook <div class="m-button-group"> */
[id='nav-controls'],
[id='prevstop'] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

[id='nav-controls'] {
    flex-direction: row-reverse;
}

[id='nextonly'] {
    margin-inline-start: auto;
}

/* HTML should be updated to match Storybook <nav class="m-page-links"> */
.page-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
