/*
----------------------------------------------------------------------------
Shame.
- Delete this file when we no longer need to import 'Survey/styles/formal/base.css' in `.storybook/preview-head.html` for Storybook.
----------------------------------------------------------------------------
*/
* {
    font-size: revert;
    line-height: revert;
}

[type='number'] {
    appearance: revert;
}
