/*
----------------------------------------------------------------------------
"Primitive" design tokens for dynamic theming.

- "Primitive" design tokens.
- Rationalise naming convention, and align with Figma.
- Implement automatic tokens export. TBC

- See related ClickUp task POC = https://app.clickup.com/t/8696gvh4k.
----------------------------------------------------------------------------
*/
:root {
    /* Colors */
    --theme-color-brand-primary: #455b97;
    --theme-color-brand-primary-alt: #324371;
    --theme-color-brand-secondary: #007675;
    --theme-color-neutral-100: #fff;
    --theme-color-neutral-200: #fafafa;
    --theme-color-neutral-300: #eceff5;
    --theme-color-neutral-400: #d6ddeb;
    --theme-color-neutral-500: #b4bddb;
    --theme-color-neutral-600: #8797c8;
    --theme-color-neutral-700: #57699c;
    --theme-color-neutral-800: #324371;
    --theme-color-neutral-900: #212c4c;
    --theme-color-neutral-1000: #002554;
    --theme-color-placeholder: #6b5b72;
    --theme-color-accent: #7a3996;

    /* Defined as RGB so we can use rgba() function */
    --theme-color-accent-error: 218, 41, 17;
    --theme-color-accent-warning: 212, 170, 73;
    --theme-color-accent-success: 70, 155, 155;
    --theme-color-accent-information: 75, 121, 182;

    /* Fonts */
    --theme-font-family-primary: 'Karla', 'KarlaLocal', sans-serif;
    --theme-font-family-secondary: 'Merriweather', 'MerriweatherLocal', serif;
    --theme-font-family-rtl: 'Rubik', 'RubikLocal', serif;

    /* Typography */
    --theme-font-size-xs: 0.75rem;
    --theme-font-size-s: 0.875rem;
    --theme-font-size: 1rem;
    --theme-font-size-m: 1.125rem;
    --theme-font-size-l: 1.25rem;
    --theme-font-size-xl: 1.5rem;
    --theme-line-height: 1.2;

    /* Borders */
    --theme-border-thickness: 0.125rem;
    --theme-border-radius: 0.25rem;
    --theme-border-radius-s: 0.125rem;

    /* Spacing */
    --theme-space-1: 0.25rem;
    --theme-space-2: 0.5rem;
    --theme-space-3: 0.75rem;
    --theme-space-4: 1rem;

    /* Box shadows */
    --theme-box-shadow: 0 0 11px 4px rgb(0 0 0 / 25%);
}
