o-history {
    align-items: flex-start;
    background: var(--color-bg-neutral-secondary, #fafafa);
    border: var(--border-thickness, 2px) solid
        var(--color-border-primary, #d6ddeb);
    border-radius: var(--border-radius-sm, 4px);
    display: block;

    .history-empty {
        .a-label-history {
            &::before {
                content: attr(data-translate);
                display: block;
                inline-size: fit-content;
                padding: var(--space-2);
                white-space: nowrap;
            }
        }
    }

    o-palette-history-entry {
        align-items: center;
        display: flex;
        gap: var(--space-sm, 8px);
        min-height: 40px;
        padding: var(--space-xs, 4px) var(--space-xs, 4px) var(--space-xs, 4px)
            var(--space-sm, 8px);
        width: 100%;

        &.active {
            background: var(--color-bg-system-warning-subtle, #fff6e5);
        }
    }
}
