.o-list {
    --color-border: var(--color-primary);

    background: var(--color-white);
    border: var(--border-thickness) solid var(--color-border);
    display: inline-block;
    max-block-size: 18.75rem;
    min-inline-size: 3em;
    overflow: auto;
    overflow-block: auto;

    > li {
        border-block-end: 1px solid transparent;
        border-block-start: 1px solid transparent;
        padding: var(--space-1) var(--space-4);
        white-space: nowrap;
    }

    > li:hover,
    .highlight {
        background: var(--color-lightest);
        border-block-end: 1px solid var(--color-light3);
        border-block-start: 1px solid var(--color-light3);
        box-shadow:
            0 -8px 8px -8px rgb(0 37 84 / 25%),
            0 8px 8px -8px rgb(0 37 84 / 25%);
    }
}

o-list {
    display: inline-block;

    li.a-list-placeholder-restriction {
        display: none;
    }

    &.char-restriction {
        li:not(.a-list-placeholder-restriction) {
            border: 0;
            display: block;
            height: 0;
            padding: 0;
            visibility: hidden;
        }

        li.a-list-placeholder-restriction {
            display: block;
        }
    }

    li.a-list-placeholder-empty {
        display: none;
    }

    &.empty {
        li.a-list-placeholder-empty {
            display: block;
        }
    }
}
