o-option-sublist {
    align-items: flex-start;
    column-gap: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--space-1);

    &.balance {
        flex-direction: row;
    }

    /* Styling of other-specifiers within sublists */
    o-question {
        padding: 0;
    }
}

/* Special codes can follow many different question type controls, inside <o-response>. */
fieldset > * + o-option-sublist {
    margin-block-start: var(--space-2);
}

fieldset + fieldset {
    margin-block-start: var(--space-4);
}

/*
    TODO:
    1. "balance" and "onesize".
    2. Should "special codes" options be "flex-direction: row"?
*/
