o-option-tabstrip {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;

    m-option-tab:first-child {
        border-inline-start: none;
    }

    m-option-tab:last-child {
        border-inline-end: none;
    }
}
