o-option-sublist {
    align-items: flex-start;

    /* the clear is to keep the sublist separate from the legend, which is floated to keep it within the fieldset */
    clear: both;
    column-gap: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--space-1);

    &.balance {
        flex-direction: row;
    }

    /* Styling of other-specifiers within sublists */
    o-question {
        padding: 0;
    }
}

fieldset {
    --border-length: 100%;

    position: relative;

    legend {
        float: left;
    }
}

fieldset + fieldset.separator {
    padding-block-start: var(--space-4);

    &::before {
        border-block-start: var(--border-thickness) dashed var(--color-light2);
        content: '';
        left: 0;
        position: absolute;
        top: calc(var(--border-thickness) * -0.5);
        width: var(--border-length);
    }
}

/* Special codes can follow many different question type controls, inside <o-response>. */
fieldset > * + o-option-sublist {
    padding-block-start: var(--space-2);
}

fieldset + fieldset {
    margin-block-start: var(--space-4);
}

/*
    TODO:
    1. "balance" and "onesize".
    2. Should "special codes" options be "flex-direction: row"?
*/
