o-question {
    border-block-end: var(--border-thickness) solid var(--color-light2);
    display: block;
    overflow: auto;
    padding: var(--space-4);

    td > o-question {
        padding: var(--space-2);
    }

    &:last-child {
        border: 0;
    }

    &:has(o-response:focus-within) {
        background: var(--color-white);
        border-block-end-color: transparent;
        box-shadow: var(--box-shadow);
    }
}
