o-question {
    border-block-end: var(--border-thickness) solid var(--color-light2);
    display: block;
    padding: var(--space-4);

    td > o-question {
        padding: var(--space-2);
    }

    &:last-child {
        border: 0;
    }
}

.question-no-separator o-question,
o-question.question-no-separator {
    border-block-end-color: transparent;
}

body.focus-question {
    o-question:not([data-global]):has(o-response:focus-within) {
        box-shadow: var(--box-shadow);
    }

    o-question[data-global] + o-question:has(o-response:focus-within) {
        box-shadow: none;
    }
}
