o-response {
    display: inline-block;
    text-align: start;
    width: 100%;

    &[data-readonly='true'] {
        opacity: 0.5;
    }

    &[data-readonly='true'] [data-readonly='true']:not(input) {
        opacity: 1;
    }

    &:not([data-readonly]) [data-readonly='true']:not(input) {
        opacity: 0.5;
    }
}

o-loop {
    tr:has(o-response:focus-within) {
        box-shadow: var(--box-shadow);
    }
}
