.o-select-custom {
    display: block;
    position: relative;

    o-list {
        block-size: 0;
        display: block;
        margin-block-start: calc(var(--border-thickness) * -1);
        opacity: 0;
        pointer-events: none;
        position: fixed;
        z-index: 1;

        li {
            white-space: wrap;
        }

        .o-list {
            block-size: 0;
        }
    }

    &.focus {
        o-list {
            block-size: auto;
            opacity: 1;
            pointer-events: all;

            .o-list {
                block-size: auto;
            }
        }

        :where(.a-input-combobox, .a-input-dropdown) {
            border-end-end-radius: 0;
            border-end-start-radius: 0;
        }
    }

    /* TODO: Remove this once global :focus/:focus-visible styles have been setup */
    :where(.a-input-combobox, .a-input-dropdown):focus-visible {
        outline: none;
    }
}
