o-slider {
    display: flex;
    flex-wrap: wrap;

    /* --space-2 is a more typical start margin but we must allow for the thumb size */
    margin-block-start: var(--space-3);

    &.show-value {
        margin-block-start: calc(var(--space-4) * 2);
    }

    &.has-labels {
        margin-block-start: 0;
    }
}

o-slider-container {
    display: block;
    flex: 1;
}

.has-terminators {
    a-button-terminator {
        display: block;
    }
}
