o-slider {
    display: flex;
    flex-wrap: wrap;
}

o-slider-container {
    display: block;
    flex: 1;
}

.has-terminators {
    a-button-terminator-pre,
    a-button-terminator-post {
        display: block;
    }
}
