o-slider {
    display: flex;
    flex-wrap: wrap;

    /* --space-2 is a more typical start margin but we must allow for the thumb size */
    margin-block-start: var(--space-3);

    &.show-value {
        margin-block-start: calc(var(--space-4) * 2);
    }

    &.has-labels {
        margin-block-start: 0;
    }

    &.has-labels-position-after {
        flex-direction: column-reverse;
    }

    .a-label-pre,
    .a-label-post {
        border: none;
        padding: 0 var(--space-2);
    }

    .m-label-prepost > * {
        padding: var(--space-2) 0;
    }

    .o-slider-container {
        display: flex;
        width: 100%;
    }

    &.has-terminators {
        a-button-terminator {
            background-image: url('../../images/terminator.svg');
            background-position: -1px -12px;
            background-repeat: no-repeat;
            display: block;
            height: 25px;
            width: 30px;
        }

        a-button-terminator[data-behaviour='decrement'] {
            transform: rotate(180deg);
        }
    }
}
