.o-structure-table {
    tbody,
    tr,
    td,
    th {
        vertical-align: revert;
    }

    td,
    th {
        padding: var(--space-1);
    }

    th {
        font-weight: normal;
    }

    tr.m-structure-row-heading + tr:not(.m-structure-row-heading) {
        border-block-start: var(--border-thickness) solid var(--color-darkest);
    }
}
