.o-structure-table {
    tbody,
    tr,
    td,
    th {
        vertical-align: revert;
    }

    td,
    th {
        padding: var(--space-1);
    }

    th {
        font-weight: normal;
    }

    tr.m-structure-row-heading + tr:not(.m-structure-row-heading) {
        border-block-start: var(--border-thickness) solid var(--color-darkest);
    }

    .striped {
        td,
        th {
            background-color: var(--color-light2);
        }

        td:first-child,
        th:first-child {
            border-end-start-radius: var(--border-radius);
            border-start-start-radius: var(--border-radius);
        }

        th:last-child,
        td:last-child {
            border-end-end-radius: var(--border-radius);
            border-start-end-radius: var(--border-radius);
        }
    }
}
