o-palette {
    display: block;

    .m-message-information {
        &::before {
            background: var(--color-bg-neutral-primary);
            content: attr(data-translate);
            display: block;
            inline-size: fit-content;
            padding: var(--space-2);
            white-space: nowrap;
        }
    }
}

.complexbutton-add {
    background-color: var(--color-bg-neutral-primary);
    display: inline-flex;
    inline-size: fit-content;
    padding: 0;
}

.complexbutton-add::before {
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    content: '+';
    display: flex;
    font-size: 28px;
    justify-content: center;
    min-block-size: 2.5rem;
    min-inline-size: 40px;
}

.complexbutton-add::after {
    align-content: center;
    color: var(--color-primary);
    content: 'Add';
    padding-inline: var(--space-2);
}

.complexbutton-submit,
.complexbutton-cancel {
    background-color: var(--color-bg-neutral-primary, #fff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    min-block-size: 2.5rem;
    min-inline-size: 2.5rem;
    padding: 0;
}

.complexbutton-submit {
    background-image: url('../../images/checked.svg');
}

.complexbutton-cancel {
    background-image: url('../../images/cancel.svg');
}
