o-palette {
    display: block;

    .m-message-information {
        &::before {
            background: white;
            content: attr(data-translate);
            display: block;
            inline-size: fit-content;
            padding: var(--space-2);
            white-space: nowrap;
        }
    }

    .history-empty {
        .a-label-history {
            &::before {
                background: white;
                content: attr(data-translate);
                display: block;
                inline-size: fit-content;
                padding: var(--space-2);
                white-space: nowrap;
            }
        }
    }
}

.a-button-icon.add {
    background-color: transparent;
    display: flex;
    padding: 0;

    span.icon {
        background-color: var(--color-primary);
        color: white;
        font-size: 28px;
        width: 40px;
    }

    span.caption {
        align-content: center;
        color: var(--color-primary);
        padding-inline: var(--space-2);
    }
}

.a-button-icon.submit {
    background-color: transparent;
    background-image: url('../../images/save.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.a-button-icon.cancel {
    background-color: transparent;
    background-image: url('../../images/cancel.svg');
    background-position: center;
    background-repeat: no-repeat;
}

o-palette-loop {
    display: block;
}

.inactive {
    background: repeating-linear-gradient(
        45deg,
        var(--color-light4),
        var(--color-light4) var(--space-2),
        var(--color-dark1) var(--space-2),
        var(--color-dark1) var(--space-4)
    );
    opacity: 0.2;
    pointer-events: none;
}
