.footer {
    border-block-start: var(--border-thickness) solid var(--color-border);
    padding-block-start: var(--space-4);

    > * + * {
        margin-block-start: 1em;
    }

    > .m-button-group {
        flex-direction: row-reverse;

        > :first-child {
            margin-inline-start: auto;
        }
    }
}
