:where([type='text'], [type='date'], [type='number'], textarea) {
    background: var(--color-background);
    border: var(--border-thickness) solid var(--color-border);
    border-radius: var(--border-radius-s);

    /* TODO: fix a11y contrast with color */
    color: var(--color-input);
    inline-size: var(--input-width);
    padding: var(--space-2) var(--space-4);

    &:focus {
        border-color: var(--color-border-active);
        outline: var(--focus-outline);
    }
}

body.focus-control {
    :where([type='text'], [type='date'], [type='number'], textarea) {
        &:focus {
            box-shadow: var(--box-shadow);
        }
    }
}

:where([type='button'], [type='submit'], [type='reset'], button) {
    border: var(--border-thickness) solid var(--color-primary);
    border-radius: var(--border-radius);
    display: inline-block;
    min-block-size: 2.5rem;
    min-inline-size: 3em;
    padding: var(--space-1) 1em;
    white-space: normal;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        box-shadow: var(--box-shadow);
        outline: var(--focus-outline);
    }
}

:where([data-hidden='true']) {
    display: none;
}

[data-readonly='true'] {
    opacity: 0.5;
    pointer-events: none;
}
