:where([type='text'], [type='date'], [type='number'], textarea) {
    --color-background: #fff;

    background: var(--color-background);
    border: var(--border-thickness) solid var(--color-border);
    border-radius: var(--border-radius-s);
    color: inherit;
    inline-size: var(--input-width);
    padding: var(--space-2) var(--space-4);

    &:focus {
        border-color: var(--color-border-active);
    }
}

:where([type='button'], [type='submit'], [type='reset'], button) {
    border: var(--border-thickness) solid var(--color-brand-primary);
    border-radius: var(--border-radius);
    display: inline-block;
    min-block-size: 2.5rem;
    min-inline-size: 3em;
    padding: var(--space-1) 1em;
    white-space: normal;

    /* TODO: :hover/:focus states */
}

/*
    TODO:
    - .focus-control, or use :has() on parent element
*/
