/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
.l-stack {
    --stack-gutter: 1em;

    > * + * {
        margin-block-start: var(--stack-gutter);
    }

    > * {
        margin-block-end: 0;
    }
}

/*
----------------------------------------------------------------------------
Row.

Based on https://every-layout.dev/layouts/sidebar/.
----------------------------------------------------------------------------
*/
.l-row {
    --column1-width: fit-content;
    --column2-min-width: 50%;
    --column-gap: calc(var(--space-4) * 2);

    display: flex;
    flex-wrap: wrap;
    gap: var(--column-gap);

    > :first-child {
        flex-basis: var(--column1-width);
        flex-grow: 1;
    }

    > :last-child {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: var(--column2-min-width);
    }
}
