:where(body, input, textarea, select) {
    font-family: var(--font-family-primary);
}

:where(input, textarea, select) {
    font-size: inherit;
    line-height: inherit;
}

html[dir='rtl'] {
    :where(body, input, textarea, select) {
        font-family: var(--font-family-rtl);
    }
}

body {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

a {
    color: var(--color-text);

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: var(--space-2);
}
