/*
----------------------------------------------------------------------------
Visually hide content but make it available to screen readers.
----------------------------------------------------------------------------
*/
.visually-hidden {
    &:not(:focus):not(:active) {
        block-size: 1px;
        clip-path: inset(50%);
        inline-size: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}

/*
----------------------------------------------------------------------------
Display.

The CSS utility class behaves the same as the HTML attribute.
----------------------------------------------------------------------------
*/
:where(.hidden, [hidden]) {
    display: none;
}

.hidden-filter,
.hidden-rule {
    display: none;
}

/* The following rule is for hidden items within a list to hide them without affecting the list's width */
li[class*='hidden-'] {
    display: block;
    height: 0;
    padding: 0;
    visibility: hidden;
}

.unavailable {
    display: none;
}
