/*
----------------------------------------------------------------------------
Color settings.
----------------------------------------------------------------------------
*/
:root {
    --color-brand-primary: var(--theme-color-brand-primary);
    --color-brand-primary-hover: var(--theme-color-brand-primary-alt);
    --color-brand-secondary: var(--theme-color-brand-secondary);
    --color-brand-secondary-hover: var(--theme-color-brand-secondary-alt);
    --color-neutral-white: var(--theme-color-neutral-white);
    --color-neutral-lightest: var(--theme-color-neutral-lightest);
    --color-neutral-light1: var(--theme-color-neutral-light1);
    --color-neutral-light2: var(--theme-color-neutral-light2);
    --color-neutral-light3: var(--theme-color-neutral-light3);
    --color-neutral-light4: var(--theme-color-neutral-light4);
    --color-neutral-dark1: var(--theme-color-neutral-dark1);
    --color-neutral-dark2: var(--theme-color-neutral-dark2);
    --color-neutral-darkest: var(--theme-color-neutral-darkest);
    --color-accent-error: var(--theme-color-accent-error);
    --color-accent-warning: var(--theme-color-accent-warning);
    --color-accent-success: var(--theme-color-accent-success);
    --color-accent-information: var(--theme-color-accent-information);

    /* Semantic names. */
    --color-background: var(--theme-color-neutral-white);
    --color-text: var(--theme-color-neutral-darkest);
    --color-border: var(--theme-color-neutral-light4);
    --color-border-active: var(--theme-color-brand-primary);
}
