/*
----------------------------------------------------------------------------
- "Semantic" design tokens.

Color settings.
----------------------------------------------------------------------------
*/
:root {
    --color-primary: var(--theme-color-brand-primary);
    --color-primary-hover: var(--theme-color-brand-primary-alt);
    --color-secondary: var(--theme-color-brand-secondary);
    --color-secondary-hover: var(--theme-color-brand-secondary-alt);
    --color-white: var(--theme-color-neutral-100);
    --color-lightest: var(--theme-color-neutral-200);
    --color-light1: var(--theme-color-neutral-300);
    --color-light2: var(--theme-color-neutral-400);
    --color-light3: var(--theme-color-neutral-500);
    --color-light4: var(--theme-color-neutral-600);
    --color-dark1: var(--theme-color-neutral-700);
    --color-dark2: var(--theme-color-neutral-800);
    --color-darkest: var(--theme-color-neutral-900);
    --color-placeholder: var(--theme-color-placeholder);
    --color-error: var(--theme-color-accent-error);
    --color-warning: var(--theme-color-accent-warning);
    --color-success: var(--theme-color-accent-success);
    --color-information: var(--theme-color-accent-information);

    /* Semantic names. */
    --color-background: var(--color-white);
    --color-text: var(--color-darkest);
    --color-border: var(--color-light4);
    --color-border-active: var(--color-primary);
}
