/*
----------------------------------------------------------------------------
- "Semantic" design tokens.

Config settings.

i.e. custom properties other than colors/fonts.
----------------------------------------------------------------------------
*/
:root {
    /* Borders. */
    --border-thickness: var(--theme-border-thickness);
    --border-radius: var(--theme-border-radius);
    --border-radius-s: var(--theme-border-radius-s);

    /* Columns */
    --column1-width: 30%;

    /* Spacing. Use for margin|padding, and gap in flex|grid layouts. */
    --space-1: var(--theme-space-1);
    --space-2: var(--theme-space-2);
    --space-3: var(--theme-space-3);
    --space-4: var(--theme-space-4);

    /* Box shadows */
    --box-shadow: var(--theme-box-shadow);

    /* :FOCUS state */
    --focus-outline: var(--border-thickness) solid transparent;

    /* Widths */
    --input-width: 12.5rem;

    /* Icons */
    --option-icon-height: 1.0625rem;
    --option-icon-width: 1.125rem;

    /* Overall page dimensions */
    --page-max-width: 85rem;
    --header-min-height: 7.5rem;
    --footer-min-height: 6.875rem;
}
