/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

/* barlow-regular */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/barlow-v13-latin-regular.woff2') format('woff2');
}

/* barlow-italic */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/barlow-v13-latin-italic.woff2') format('woff2');
}

/* barlow-600 */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/barlow-v13-latin-600.woff2') format('woff2');
}

/* barlow-600italic */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: italic;
    font-weight: 600;
    src: url('../../fonts/barlow-v13-latin-600italic.woff2') format('woff2');
}

/* barlow-700 */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/barlow-v13-latin-700.woff2') format('woff2');
}

/* barlow-700italic */
@font-face {
    font-display: swap;
    font-family: Barlow;
    font-style: italic;
    font-weight: 700;
    src: url('../../fonts/barlow-v13-latin-700italic.woff2') format('woff2');
}

/* barlow-semi-condensed-regular */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/barlow-semi-condensed-v16-latin-regular.woff2')
        format('woff2');
}

/* barlow-semi-condensed-600 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/barlow-semi-condensed-v16-latin-600.woff2')
        format('woff2');
}

/* barlow-semi-condensed-600italic */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: italic;
    font-weight: 600;
    src: url('../../fonts/barlow-semi-condensed-v16-latin-600italic.woff2')
        format('woff2');
}

/* barlow-semi-condensed-700 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/barlow-semi-condensed-v16-latin-700.woff2')
        format('woff2');
}

/* barlow-semi-condensed-700italic */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('../../fonts/barlow-semi-condensed-v16-latin-700italic.woff2')
        format('woff2');
}

:root {
    --font-family-primary: var(--theme-font-family-primary);
    --font-family-secondary: var(--theme-font-family-secondary);
    --font-family-rtl: var(--theme-font-family-rtl);
    --font-size-xs: var(--theme-font-size-xs);
    --font-size-s: var(--theme-font-size-s);
    --font-size: var(--theme-font-size);
    --font-size-m: var(--theme-font-size-m);
    --font-size-l: var(--theme-font-size-l);
    --font-size-xl: var(--theme-font-size-xl);
    --line-height: var(--theme-line-height);
}
