[class*='a-button'] {
    background: var(--color-primary);
    color: var(--color-lightest);

    &:hover,
    &:focus {
        background: var(--color-primary-hover);
        box-shadow: none;
    }

    &[type='submit'] {
        background: var(--color-secondary);
        border-color: var(--color-secondary);
        inline-size: var(--input-width);

        &:hover,
        &:focus {
            background: var(--color-lightest);
            color: var(--color-secondary);
        }
    }
}
