a-button-icon {
    align-items: center;
    border: var(--border-thickness) solid var(--color-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-family-primary);
    font-size: var(--font-size);
    justify-content: center;
    min-block-size: 2.5rem;
    min-inline-size: 3em;
}
