/* Combobox/dropdown */
:where(.a-input-dropdown) {
    border-color: var(--color-primary);
    padding-block: calc(var(--space-1) * 2);
    text-overflow: ellipsis;
    width: 100%;
}

.a-input-dropdown {
    background: var(--color-primary) url('../../images/white-chevron-down.png')
        no-repeat right 12px center;
    caret-color: transparent;
    color: var(--color-lightest);
    cursor: default;
    padding-inline-end: calc(var(--space-4) * 3);

    &::placeholder {
        color: var(--color-lightest);
    }
}

html[dir='rtl'] .a-input-dropdown {
    background: var(--color-primary) url('../../images/white-chevron-down.png')
        no-repeat left 12px center;
}
