.a-icon-multistate {
    background-position-y: -28px;
    background-repeat: no-repeat;
    block-size: var(--option-icon-height);
    flex-shrink: 0;
    inline-size: var(--option-icon-width);
}

.a-icon-multistate[data-icon-type='button'] {
    background-image: url('../../images/check.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.a-icon-multistate[data-icon-type='checkbox'] {
    background-image: url('../../images/checkboxes.png');
    background-position-x: -42px;
}

.a-icon-multistate[data-icon-type='radio'] {
    background-image: url('../../images/radiobuttons.png');
    background-position-x: -42px;
}

.a-icon-multistate[data-icon-type='listitem'] {
    background-image: url('../../images/active.png');
    background-position: -42px;
}

[data-readonly='true'] .a-icon-multistate[data-icon-type='listitem'] {
    background-image: url('../../images/padlock.svg');
    background-position: 0;
}

[data-selected='true'] .a-icon-multistate[data-icon-type='listitem'] {
    background-position: 0;
}

[data-selected='true'] .a-icon-multistate,
[data-selected='true'] label > .a-icon-multistate,
[type='checkbox']:checked ~ .a-icon-multistate,
[type='radio']:checked ~ .a-icon-multistate,
[type='checkbox']:checked + label > .a-icon-multistate,
[type='radio']:checked + label > .a-icon-multistate {
    background-position-x: -14px;
}

/*
    TODO:
    - read only states.
*/
