[class^='a-input'],
[class^='a-singleline'],
[class^='a-multiline'] {
    &::placeholder {
        color: var(--color-placeholder);
    }
}

/* Textarea */
.a-multiline {
    inline-size: 100%;
    min-block-size: 6.25rem;
    padding: 0.5em;
}

/* Combobox/dropdown */
:where(.a-input-combobox, .a-input-dropdown) {
    border-color: var(--color-primary);
    padding-block: calc(var(--space-1) * 2.5);
    text-overflow: ellipsis;
}

.a-input-dropdown {
    background: var(--color-primary) url('../../images/white-chevron-down.png')
        no-repeat right 12px center;
    color: var(--color-lightest);
    padding-inline-end: calc(var(--space-4) * 3);

    &::placeholder {
        color: var(--color-lightest);
    }
}

input[type='range'] {
    background: transparent;
    border: var(--border-thickness) solid var(--color-primary);
    border-radius: var(--border-radius);
    box-shadow: none;
    height: var(--space-4);
    margin: 0;
    padding: 0;
    width: calc(100% - 12px);
    z-index: 3;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: 24px;
    height: 16px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    box-shadow: none;
    height: calc(var(--space-4) * 2);
    margin-top: -11px;
    visibility: hidden;
    width: calc(var(--space-4) * 2);
    z-index: 4;
}

input[type='range']::-moz-range-thumb {
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    box-shadow: none;
    height: calc(var(--space-4) * 2);
    visibility: hidden;
    width: calc(var(--space-4) * 2);
    z-index: 4;
}

input[type='range']::-ms-thumb {
    background: var(--color-primary);
    border: none;
    border-radius: 50%;
    box-shadow: none;
    height: calc(var(--space-4) * 2);
    margin-top: 0;
    visibility: hidden;
    width: calc(var(--space-4) * 2);
    z-index: 4;
}
