[class^='a-label'] {
    cursor: pointer;
}

.a-label-option {
    color: var(--color-primary);
    padding-inline-start: calc(var(--space-1) * 1.5);
}

.a-label-heading-sublist {
    flex-basis: 100%;
    color: var(--color-primary);
    cursor: default;
    font-family: var(--font-family-secondary);
    margin-block-end: var(--space-2);
}

:is(.a-label-pre, .a-label-post) {
    border: var(--border-thickness) solid var(--color-border);
    color: var(--color-dark2);
    cursor: default;
    padding: var(--space-2) var(--space-4);
    text-wrap: nowrap;

    &:empty {
        display: none;
    }
}
