[class^='a-multiline'] {
    &::placeholder {
        color: var(--color-placeholder);
    }
}

/* Textarea */
.a-multiline {
    inline-size: 100%;
    min-block-size: 6.25rem;
    padding: 0.5em;
}
