input[type='range'] {
    appearance: none;
    background: transparent;
    border: var(--border-thickness) solid var(--color-primary);
    border-radius: 10px;
    box-shadow: none;
    height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
    touch-action: none;
    width: calc(100%);
    z-index: 3;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 16.6px;
    width: 100%;
}

input[type='range']::-moz-range-track {
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    height: 16.6px;
    width: 100%;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    background: white;
    border: var(--theme-space-2) solid var(--theme-color-accent);
    border-radius: 50px;
    cursor: pointer;
    height: 32px;
    margin-block-start: -7.7px;
    width: 32px;
}

input[type='range']::-moz-range-thumb {
    background: white;
    border: var(--theme-space-2) solid var(--theme-color-accent);
    border-radius: 50px;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
