a-scale-unit {
    align-content: center;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 1 0 0;
    height: 52px;
    position: relative;
    text-align: center;

    &::before {
        background-color: var(--color-light3);
        border-radius: var(--border-radius);
        content: ' ';
        display: block;
        height: calc(100% - 8px);
        left: 4px;
        opacity: 0.4;
        position: absolute;
        top: 4px;
        width: calc(100% - 8px);
    }

    &.selected,
    &:has(~ .selected) {
        &::before {
            background: var(--color-secondary);
        }
    }
}
