a-scale-unit {
    align-content: center;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 1 0 0;
    height: 4rem;
    min-width: calc(var(--space-4) * 2);
    position: relative;
    text-align: center;

    &::before {
        background-color: var(--color-light3);
        border-radius: var(--border-radius);
        content: ' ';
        display: block;
        height: calc(100% - var(--space-2));
        inset-block-start: var(--space-1);
        inset-inline-start: var(--space-1);
        opacity: 0.4;
        position: absolute;
        width: calc(100% - var(--space-2));
    }

    &.selected,
    &:has(~ .selected) {
        &::before {
            background: var(--color-secondary);
        }
    }
}

html[dir='rtl'] a-scale-unit {
    background-position: right center;
}
