m-input-singlelineedit {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;

    [data-prelabel] {
        border-inline-end-width: 0;
        border-radius: var(--theme-border-radius-s) 0 0
            var(--theme-border-radius-s);
    }

    [data-postlabel] {
        border-inline-start-width: 0;
        border-radius: 0 var(--theme-border-radius-s)
            var(--theme-border-radius-s) 0;
    }
}
