m-input-singleline {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;

    .a-label-pre {
        border-inline-end-width: 0;
        border-radius: var(--theme-border-radius-s) 0 0
            var(--theme-border-radius-s);
    }

    .a-label-post {
        border-inline-start-width: 0;
        border-radius: 0 var(--theme-border-radius-s)
            var(--theme-border-radius-s) 0;
    }
}
