[class^='m-message'] {
    border-radius: var(--border-radius);
    font-size: var(--font-size-s);
    inline-size: fit-content;
    padding-block-end: var(--space-2);
    padding-block-start: var(--space-2);
    padding-inline-end: var(--space-4);
    padding-inline-start: calc(var(--space-3) * 3);
    position: relative;

    &::before {
        background-repeat: no-repeat;
        block-size: 1.25rem;
        content: '';
        inline-size: 1.25rem;
        inset-block-start: 0.4rem;
        inset-inline-start: 0.5rem;
        position: absolute;
    }

    p:last-child {
        margin-block-end: 0;
    }
}

/* Uses color-mix() function to fix a11y color contrast. */
.m-message-error {
    background-color: rgb(var(--color-error), 0.15);
    color: rgb(var(--color-error));

    &::before {
        background-image: url('../../images/icon-error.svg');
    }
}

.m-message-warning {
    background-color: rgb(var(--color-warning), 0.15);
    color: rgb(var(--color-warning));

    &::before {
        background-image: url('../../images/icon-warning.svg');
    }
}

.m-message-success {
    background-color: rgb(var(--color-success), 0.15);
    color: rgb(var(--color-success));

    &::before {
        background-image: url('../../images/icon-success.svg');
    }
}

.m-message-information {
    background-color: rgb(var(--color-information), 0.15);
    color: rgb(var(--color-information));

    &::before {
        background-image: url('../../images/icon-information.svg');
    }
}
