m-option-tab {
    --color-checked: var(--color-white);

    border: var(--border-thickness) solid var(--color-secondary);
    display: inline-block;
    position: relative;

    & + m-option-tab {
        border-inline-start: none;
    }

    label.a-label-option {
        align-items: center;
        color: var(--color-secondary);
        display: inline-flex;
        padding: var(--space-4);
    }

    &[data-disabled='true'] {
        opacity: 0.5;
        pointer-events: none;
    }

    &[data-checked='true'] {
        background: var(--color-primary);
        border-color: var(--color-primary);

        label.a-label-option {
            color: var(--color-checked);
        }
    }

    &[data-checked='true'] ~ & {
        border-color: var(--color-dark1);

        label.a-label-option {
            color: var(--color-dark2);
        }
    }

    /* See https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/ */

    input {
        block-size: var(--option-icon-height);
        inline-size: var(--option-icon-width);
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:focus + label {
            box-shadow: var(--box-shadow);
            outline: var(--focus-outline);
        }
    }
}
