m-option-button {
    border: var(--border-thickness) solid var(--color-border);
    border-radius: var(--border-radius);
    display: inline-flex;

    button {
        align-items: center;
        border: none;
        display: flex;
        min-height: 40px;
        min-width: 48px;
        padding: 0;
        width: 100%;

        .a-label-option {
            align-items: center;
            align-self: stretch;
            border-inline-start: var(--border-thickness) solid
                var(--color-border);
            display: flex;
            padding: var(--space-1, 4px) var(--space-2, 8px);
        }

        .a-icon-multistate {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            gap: 8px;
            height: 36px;
            justify-content: center;
            padding: var(--space-1, 4px);
            width: 32px;
        }
    }

    &[data-checked='true'] {
        border-color: var(--theme-color-brand-secondary);

        .a-label-option {
            border-color: var(--theme-color-brand-secondary);
            color: var(--theme-color-brand-secondary);
        }
    }
}
