m-option-button {
    border: var(--border-thickness) solid var(--color-border);
    border-radius: var(--border-radius);

    button {
        align-items: center;
        border: none;
        display: flex;
        min-height: 40px;
        min-width: 48px;
        padding: 0;

        .a-label-option {
            align-items: flex-start;
            display: flex;
            flex: 1 0 0;
            padding: var(--space-1, 4px) var(--space-2, 8px);
        }

        .a-icon-multistate {
            align-items: flex-start;
            align-self: stretch;
            border-right: var(--border-thickness) solid
                var(--color-border, #2f469c);
            display: flex;
            gap: 8px;
            height: 36px;
            justify-content: center;
            padding: var(--space-1, 4px);
            width: 32px;
        }
    }

    &[data-checked='true'] {
        border-color: var(--theme-color-brand-secondary);

        .a-icon-multistate {
            border-color: var(--theme-color-brand-secondary);
        }

        .a-label-option {
            color: var(--theme-color-brand-secondary);
        }
    }
}
