m-slider-track {
    display: block;
    flex: 1;
    position: relative;

    output {
        position: absolute;
        visibility: hidden;
    }

    input[type='range']::-webkit-slider-thumb {
        visibility: hidden;
    }

    input[type='range']::-moz-range-thumb {
        visibility: hidden;
    }

    &.has-value {
        input[type='range']::-webkit-slider-thumb {
            visibility: visible;
        }

        input[type='range']::-moz-range-thumb {
            visibility: visible;
        }

        output {
            /* specific value -27px to align the thumb with the standard padding applied to label */
            transform: translate(-50%, -27px);
        }

        &.show-value {
            output {
                visibility: visible;
            }
        }
    }
}
