m-slider-track {
    display: block;
    flex: 1;
    position: relative;

    output {
        inset-block-start: -26px;
        position: absolute;
        transform: translateX(-50%);
        visibility: hidden;
    }

    input[type='range']::-webkit-slider-thumb {
        visibility: hidden;
    }

    input[type='range']::-moz-range-thumb {
        visibility: hidden;
    }

    &.has-value {
        input[type='range']::-webkit-slider-thumb {
            visibility: visible;
        }

        input[type='range']::-moz-range-thumb {
            visibility: visible;
        }
    }
}

[dir='rtl'] m-slider-track output {
    transform: translateX(50%);
}

m-slider-track.show-value output {
    visibility: visible;
}
